ul {
  list-style: none;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0;
  cursor: pointer;
}

li {
  margin: 1rem 0;
  padding: 0.9rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s;
}
li:hover {
  transform: scale(1.1);
}
