nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(73, 106, 214, 0.815);
    color: white;
}

.nav-links {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

